html{
	background-image: linear-gradient(to bottom right, blue, purple);
	overflow-x: hidden;
}

.section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.section h1 {
  text-align: center;
  color: white;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  font-size: 6rem;
  font-family: "Cookie";
  padding: 20px;
  margin: 15px;
  z-index: 1;
  opacity: 0.7;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-bottom: 50px;
  padding-top: 50px; 
}

.video-container video {
	object-fit: cover;
	width: 100%;
	height: 100%;
	min-width: 100%;
	position: absolute;
	top:0;
	z-index: -999;
}

.navigation{
  padding-top:30px;
  padding-bottom:30px;
  position:absolute;
  top:0;
  width:100%;
  z-index:1;
}
.navbar-contact, .navbar-right{
	display: inline-block;
	flex: 1;
}

.navbar-right{
	float: right;
	padding-top: 7px;
	padding-right: 10px;
}
.navbar-right a, .navbar-contact a, .navbar-contact img{
	display: inline-block;
	vertical-align: middle;
}

.navbar-right a{
	margin-left: 40px;
}

.navbar-contact a{
	color: #808080;
	font-family: "Cookie";
	text-decoration: none;
}

.navbar-contact img{
	margin-right: 10px;
}

.about{
	height: 500px;
	width: 100%;
	color: white;
	font-family: "Cookie";
	text-align: center;
	padding-top: 10px;
	padding-left: 10px;
	opacity: 0.7;
	text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.about h1{
	font-size: 5rem;
}

.about h2{
	font-size: 2rem;
}

.programs{
	padding: px;
}

.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  margin: 30px auto;
  width: 300px;
  height: 300px;
  border-radius: 40px;
box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  cursor: pointer;
  transition: 0.4s;
}

.card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.card .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}

.card .card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: -80px;
  height: 40px;
}

.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}

.title-white {
  color: white;
}

.title-black {
  color: black;
}

