body {
	font-family: 'Comic Sans MS', 'Marker Felt', sans-serif;
	background-color: #AED6F1;
	height: 400px;
	width: 400px;
}
#container {
	margin: auto;
	background-color: white;
	border: 1px solid;
	width: 400px;
	height: 400px; 
}
#messages {
	font-family: 'Comic Sans MS', 'Marker Felt', sans-serif;
	border: 1px solid;
	height: 370px;
	overflow-y: auto;
}
#input {
	font-family: 'Comic Sans MS', 'Marker Felt', sans-serif;
	width: 330px;
	height: 18px;
	background-color: #EEEEEE;
	margin-top: 0px;
	padding: 5px;
	float: left;
}
button {
	display: block;
	text-align: center;
	width: 60px;
	height: 30px;
	float: left;
}
.header{
	font-family: 'Comic Sans MS', 'Marker Felt', sans-serif;
	text-align: center;
}

@media screen and (max-width: 600px){
	body{
		font-family: 'Comic Sans MS', 'Marker Felt', sans-serif;
		background-color: #AED6F1;
		height: 400px;
		width: 400px;
		zoom: 240%;
	}
}